beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
Cython==0.29.23
distlib==0.3.4
filelock==3.6.0
gensim==4.1.2
idna==3.3
numpy==1.22.3
platformdirs==2.5.2
requests==2.27.1
scipy==1.8.0
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.2.post1
tabulate==0.8.9
urllib3==1.26.9
virtualenv==20.14.1
